</div>
</div>

<footer id="footer">
	<div class="inner">
		<section>
			<h2>Follow</h2>
			<ul class="icons">
				{% if site.twitter_username %}
				<li><a href="https://twitter.com/{{ site.twitter_username }}" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
				{% endif %}
				{% if site.facebook_URL %}
				<li><a href="{{ site.facebook_URL }}" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
				{% endif %}
				{% if site.instagram_username %}
				<li><a href="https://www.instagram.com/{{ site.instagram_username }}" class="icon style2 fa-instagram"><span class="label">Instagram</span></a></li>
				{% endif %}
				{% if site.dribbble_username %}
				<li><a href="#" class="icon style2 fa-dribbble"><span class="label">Dribbble</span></a></li>
				{% endif %}
				{% if site.github_username %}
				<li><a href="https://github.com/{{ site.github_username }}" class="icon style2 fa-github"><span class="label">GitHub</span></a></li>
				{% endif %}
				{% if site.500px_username %}
				<li><a href="#" class="icon style2 fa-500px"><span class="label">500px</span></a></li>
				{% endif %}
				{% if site.phone %}
				<li><a href="#" class="icon style2 fa-phone"><span class="label">Phone</span></a></li>
				{% endif %}
				{% if site.email %}
				<li><a href="mailto:{{ site.email }}" class="icon style2 fa-envelope-o"><span class="label">Email</span></a></li>
				{% endif %}
			</ul>
		</section>
		<ul class="copyright">
			<li>&copy; {{ site.title }}. All rights reserved</li>
			<li>Design by <a href="https://www.satuhearty.com">Satuhearty</a></li>
		</ul>
	</div>
</footer>

</div>

<!-- Scripts -->
<script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/skel.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/util.js"></script>
<!--[if lte IE 8]><script src="{{ site.baseurl }}/assets/js/ie/respond.min.js"></script><![endif]-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-lazyload/8.6.0/lazyload.min.js?cachebuster=050218"></script>
<script src="{{ site.baseurl }}/assets/js/slick.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/main.js"></script>
<script async defer>
    !function() {
        var t;
        if (t = window.driftt = window.drift = window.driftt || [], !t.init) return t.invoked ? void (window.console && console.error && console.error("Drift snippet included twice.")) : (t.invoked = !0,
            t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ],
            t.factory = function(e) {
                return function() {
                    var n;
                    return n = Array.prototype.slice.call(arguments), n.unshift(e), t.push(n), t;
                };
            }, t.methods.forEach(function(e) {
            t[e] = t.factory(e);
        }), t.load = function(t) {
            var e, n, o, i;
            e = 3e5, i = Math.ceil(new Date() / e) * e, o = document.createElement("script"),
                o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + i + "/" + t + ".js",
                n = document.getElementsByTagName("script")[0], n.parentNode.insertBefore(o, n);
        });
    }();
    drift.SNIPPET_VERSION = '0.3.1';
    drift.load('r2zk77rieh8t');
</script>
