<nav id="menu">
	<h2>Menu</h2>
	<ul>
		<li><a href="{{ "/" | prepend: site.baseurl }}">Home</a></li>
		<li><a href="{{ "/projects" | prepend: site.baseurl }}">Projects</a></li>
		<li><a href="{{ "/experiences" | prepend: site.baseurl }}">Experiences</a></li>
		<li><a href="{{ "/profile" | prepend: site.baseurl }}">Profile</a></li>
		<li><a href="{{ "/clients" | prepend: site.baseurl }}">Clients</a></li>
		<li><a href="{{ "/contact" | prepend: site.baseurl }}">Contact</a></li>

		{% for page in site.pages %}
			{% if page.path == "index.html" %}
				<!--<li><a href="{{ page.url | prepend: site.baseurl | remove: "index.html" }}">{{ page.title }}</a></li>-->
			{% endif %} {% endfor %}
		{% for page in site.pages %}

		{% if page.title %}
			<!--<li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title | remove: "Home" }}</a></li>-->
		{% endif %} {% endfor %}
	</ul>
</nav>
