---
---
@import 'site/libs/vars';
@import 'site/libs/functions';
@import 'site/libs/mixins';
@import 'site/libs/skel';
@import 'font-awesome.min.css';

@font-face {
	font-family: 'Futura';
	font-weight: 300;
	font-style: normal;
	src: url('../fonts/futura/FuturaStd-Book.woff')  format('WOFF');
}
@font-face {
	font-family: 'Futura';
	font-weight: 700;
	font-style: normal;
	src: url('../fonts/futura/FuturaStd-Bold.woff')  format('WOFF');
}
@font-face {
	font-family: 'Futura';
	font-weight: 900;
	font-style: normal;
	src: url('../fonts/futura/FuturaStd-Bold.woff')  format('WOFF');
}

@include skel-breakpoints((
	xlarge: '(max-width: 1680px)',
	large: '(max-width: 1280px)',
	medium: '(max-width: 980px)',
	small: '(max-width: 736px)',
	xsmall: '(max-width: 480px)',
	xxsmall: '(max-width: 360px)'
));

@include skel-layout((
	reset: 'full',
	boxModel: 'border',
	grid: (
		gutters: 2em
	),
	breakpoints: (
		medium: (
			grid: (
				gutters: 1.5em
			)
		),
		small: (
			grid: (
				gutters: 1em
			)
		)
	)
));

// Base.

@import 'site/base/page';
@import 'site/base/typography';

// Component.

@import 'site/components/section';
@import 'site/components/icon';
@import 'site/components/list';
@import 'site/components/form';
@import 'site/components/box';
@import 'site/components/image';
@import 'site/components/table';
@import 'site/components/button';
@import 'site/components/tiles';
@import 'site/components/slick';
@import 'site/components/timeline';
@import 'site/components/clients';
@import 'site/components/random';

// Layout.

@import 'site/layout/header';
@import 'site/layout/menu';
@import 'site/layout/main';
@import 'site/layout/footer';
@import 'site/layout/wrapper';
