
.clients {
  &-container {
    background-color: rgba(49, 71, 95, .85);
    color: _palette(bg);
    padding: 2em 2em 0 1em;
    border-radius: 10px;
    margin: 2em 0.1em;
  }
  &-image {
    max-width: 90%;
    padding-top: 25%;
    margin: 0 auto;
  }
  &-section {
    &-header {
      text-align: center;
    }
    &-right {
      text-align: right;
    }
  }
}

@include breakpoint(small) {
  .clients {
    &-container {
      text-align: center;
    }
    &-image {
      max-width: 40%;
      padding-top: 0;
    }
    &-section {
      &-right {
        text-align: center;
      }
    }
  }
}